
<launch>
  <!-- Map Server Arguments -->
  <arg name="map_file" default="$(find rrt_star_global_planner)/maps/latest_map.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- Arguments -->
  <arg name="scan_topic"     default="scan"/>
  <arg name="initial_pose_x" default="4.137"/>
  <arg name="initial_pose_y" default="-2.835"/>
  <arg name="initial_pose_a" default="3.134"/>

<!-- Start point 1: -1.773 0.088 -0.046 -->
<!-- Start point 2: 4.137 -2.835 3.134 -->

<!-- GMCL -->
<node pkg="gmcl" type="gmcl" name="gmcl" output="screen">
<!-- Initial Pose -->
  <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
  <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
  <param name="initial_pose_a" value="$(arg initial_pose_a)"/>

<!-- GMCL specific parameters -->
  <param name="use_optimal_filter" value="false"/>
  <param name="use_intelligent_filter" value="false"/>
  <param name="use_self_adaptive" value="false"/> 
  <param name="use_kld_sampling" value="true"/> 

  <param name="N_aux_particles" value="10"/>
  
  <param name="crossover_alpha" value=".5"/>
  <param name="mutation_probability" value="0.1"/>
    
  <param name="energy_map_resolution_x" value="0.2"/>
  <param name="energy_map_resolution_y" value="0.2"/>
  <param name="energy_threshold_value" value="0.05"/>
  <param name="publish_ser" value="false"/>

<!-- Filter Prameters -->
  <!--Lowering transform_tolerance value may lead to Expolration Error. Adjust this value according to the processor capacity -->
    <param name="transform_tolerance" value="0.5" /> 
      
    <param name="gui_publish_rate" value="21.21"/> 
    <param name="min_particles" value="26"/>
    <param name="max_particles" value="1130"/> <!-- default 3000 -->
    <!-- Maximum error between the true distribution and the estimated distribution  -->
    <param name="kld_err" value="0.1"/> <!-- default 0.02 -->

    <param name="kld_z" value="0.99"/>
    <!-- Translational movement required before performing a filter update.  -->
    <param name="update_min_d" value="0.1"/> <!-- default 0.2 -->
    <!-- Rotational movement required before performing a filter update.  -->
    <param name="update_min_a" value="0.05"/> <!-- default 0.2 -->

    <param name="selective_resampling" value="false"/> 

    <param name="resample_interval"         value="3"/>
    <param name="recovery_alpha_slow"       value="0.00"/>
    <param name="recovery_alpha_fast"       value="0.00"/>

<!-- Laser arguments -->

    <param name="laser_min_range"           value="0.0"/>
    <param name="laser_max_range"           value="10.0"/>
    <param name="laser_max_beams"           value="30"/> <!-- defaul 180 -->
    <param name="laser_z_hit"               value="0.5"/> <!-- defaul 0.95 -->
    <param name="laser_z_short"             value="0.05"/> <!-- defaul 0.1 -->
    <param name="laser_z_max"               value="0.05"/> <!-- defaul 0.05 -->
    <param name="laser_z_rand"              value="0.5"/> <!-- defaul 0.05 -->
    <param name="laser_sigma_hit"           value="0.2"/> <!-- defaul 0.2 -->
    <param name="laser_lambda_short"        value="0.1"/> <!-- defaul 0.1 -->
    <param name="laser_model_type"          value="likelihood_field_prob"/> <!-- very important -->
    <param name="laser_likelihood_max_dist" value="2.0"/> <!-- defaul 2.0 -->

    <param name="beam_skip_distance" value="0.5"/>
    <param name="beam_skip_threshold" value="0.3"/>
    <param name="save_pose_rate" value="8.0"/>

    <param name="force_update_after_initialpose" value="true"/>
    <param name="force_update_after_setmap" value="true"/>


<!-- odom tuning -->
    <param name="odom_model_type"           value="diff-corrected"/> <!-- important! (default diff) -->
    <!-- most important values in amcl tuning -->
    <!-- noise in odometry's rotation estimate from the rotational component -->
    <param name="odom_alpha1"               value="1.2"/> <!-- default 0.1 -->
    <!-- noise in odometry's rotation estimate from translational component -->
    <param name="odom_alpha2"               value="0.1"/> <!-- default 0.1 -->
    <!-- noise in odometry's translation estimate from the translational component  -->
    <param name="odom_alpha3"               value="0.05"/> <!-- default 0.1 -->
    <!-- noise in odometry's translation estimate from the rotational component -->
    <param name="odom_alpha4"               value="0.1"/> <!-- default 0.1 -->

    <!-- translation-related noise parameter (only used if model is "omni")  -->
    <param name="odom_alpha5"               value="0.2"/> <!-- default 0.1 -->

<!-- frames -->
    <param name="odom_frame_id"             value="odom"/>
    <param name="base_frame_id"             value="base_link"/>


  </node>

</launch>
